[2018-02-10 04:37] UtkarshVerma opened #1 "Integrating semantic sidebar"
Currently, the header card is being used which is inefficient because it consumes a lot of space. A better option would be to use **Semantic UI Sidebar** instead. I have worked with it and seems to be buggy. The only issue with it is in the categories section. The category title and category content aren't displayed correctly (they should be in a line).

![2018-02-10-095823_1366x768_scrot](https:/

[2018-02-10 10:41] UtkarshVerma opened #2 "Disqus avatar not displaying"
The disqus user avatar isn't displayed in the comment section when browsing in width lesser than 540px. This is due to disabling scroll for `post-list` class which it is part of.

[2018-02-10 18:33] UtkarshVerma commented on #2
#Fixed Seems that the html style `overflow-x:hidden;` was messing with disqus.

[2018-03-28 15:51] UtkarshVerma commented on #1
Fixed!

[2018-03-28 15:51] #1 closed

[2018-04-10 18:44] UtkarshVerma opened #3 "Accordion hide/display for Header Tags and Categories"
This theme consists of a header, the one which appears on the homepage with the author avatar etc., which contains the tags and categories. These categories and tags are hidden if the viewport height is insufficient and a button appears on the top-right of the header.
Currently, the tag/category hide/show action is based on `display` property and hence quite primitive. It would be better to use ac

[2018-04-10 18:53] UtkarshVerma commented on #3
The required code can be found in [header.html](https://github.com/UtkarshVerma/hugo-dream-plus/blob/master/layouts/partials/header.html).

[2018-04-14 17:45] ApoRes1337 opened #4 "Warning: calling IsSet"
Hello, after installing and generating the demo page Hugo throws an error.

hugo server
[?25lBuilding sites … WARNING: calling IsSet with unsupported type "invalid" (<nil>) will always return false.

How can i fix it ?
I hope you can help me :)

The Theme is very beautiful by the way.

Greetz Christopher

[2018-04-15 13:33] UtkarshVerma commented on #4
Something might have slipped in the theme source code it seems. However, I don't think I'll have to look for that because I'm working on a revamp for this theme right now, expected to be out by tomorrow, so be ready. :wink:
Also, thanks for the compliment, I'm pretty sure you'd love the in-the-works-right-now release :smile:

[2018-04-17 05:33] UtkarshVerma commented on #4
@ApoRes1337 Try building your site again. I didn't see any issues with the code though. Also, which version of Hugo do you use?

[2018-04-17 09:55] ApoRes1337 commented on #4
Im use the latest Hugo Version 0.38.2 on Windows
every time I rebuild the page with your demo account the same error appears

[2018-04-17 15:16] UtkarshVerma commented on #4
Could you show me the whole error message?

[2018-04-19 23:31] changchichung opened #5 "building error"
I following the instructions, but get  some error messages like below

[code]

any suggestions ?

[2018-04-20 04:30] UtkarshVerma commented on #5
You haven't set `config.toml` correctly. Set the "itemsPerPage" value correctly since there's an error during Pagination.
Also, `404.html` requires there to be a `404.md` file present in the `content` folder. It looks for the text in that file. Therefore you have to provide it yourself. I will add the default 404 page in the later release, but till then, you'll have to create an md file for it.
**

[2018-04-22 03:34] UtkarshVerma commented on #5
This issue will be consider resolved if there's no reply within the next 4 days.

[2018-04-23 05:33] changchichung commented on #5
I believe it`s not the itemsperpage value , seems like my hugo version is too old to run dream-plus , I update hugo to 0.39 and everything works , thanks !

[2018-04-23 05:33] #5 closed

[2018-04-23 11:55] changchichung opened #6 "post links are always http , not https"
I already set baseurl in config.toml to https://my_site
but the default page link still http , not https
is there any way to change default post link from http to https ?

[2018-04-23 13:41] UtkarshVerma commented on #6
That would be determined by the site through which you're hosting your content. For example, I've configured my domain using Netlify which hosts contents through `https` if you enable the TLS certification. In short, it isn't a HTML issue, rather it is the server side issue.

[2018-04-23 13:42] UtkarshVerma commented on #5
@changchichung Just curious, which version of Hugo were you using before?

[2018-04-23 16:39] changchichung commented on #6
I deploy this site on google compute engine with caddy + supervisor +hugo,I will try to modify caddy to provide ssl certification tomorrow,thanks.

[2018-04-23 16:40] changchichung commented on #5
0.14,it's the default version of ubuntu....

[2018-04-24 20:56] #6 closed

[2018-04-27 13:33] changchichung opened #7 "only one post show in caterogies , is that correct ?"
I have at least 2 posts in the ptt caterogies , but only one post shows in caterogies tree , is that normal ?
and is there any way to increase the size of caterogies ？

![https://i.imgur.com/xoSc02F.png](https://i.imgur.com/xoSc02F.png)

[2018-04-28 00:16] UtkarshVerma commented on #7
@changchichung Thanks for pointing out the bug. I'll fix it today. :smile:

[2018-04-29 18:13] UtkarshVerma commented on #7
@changchichung It's fixed now. I'm closing this issue. If there's still anything missing, feel free to reopen it.

[2018-04-29 18:13] #7 closed

[2018-04-29 19:33] #2 closed

[2018-04-29 19:41] UtkarshVerma opened #8 "Disqus images not displaying"
For some reason, the Disqus images aren't being attributed with the `src` attribute properly in Chrome(Firefox is displaying the images properly). Due to this, the commenters' avatars won't load up and instead, there's a default image in its place. I'm not quite able to put my finger on the culprit for this.

### Chrome
![Chrome](https://user-images.githubusercontent.com/31820255/39410257-d7533f0c

[2018-04-30 07:10] #8 closed

[2018-05-12 03:37] pymilk opened #10 "Can the search function be added?"
A static website with a dynamic search function?

[2018-05-13 01:55] UtkarshVerma commented on #10
I do have plans for it but not soon, since I'm planning to make my theme more efficient first. There have been various discussions at [Hugo Discussion](https://discourse.gohugo.io).

[2018-05-23 09:46] VanKurt opened #12 "Card size (number of columns)"
Is there a way to make the cards smaller?
I would like to create a card grid of 4x3 cards.

PS: Thanks for this awesome theme :-)

[2018-05-23 11:49] UtkarshVerma commented on #12
There is no way to make the cards smaller using the config variables currently and I'd like to keep it that way because of the following reasons:
* Smaller cards affect the effects applied to the card, i.e. the sliding above text, font size etc;
* Increasing the cards per row will affect the card width, which greatly affects the card name text.
Since this feature affects the basic functionality of

[2018-05-25 03:40] UtkarshVerma commented on #12
Closing this, for now, may be reopened by others if additional suggestions are there.

[2018-05-25 03:40] #12 closed

[2018-05-25 13:34] UtkarshVerma commented on #10
Just came upon this: https://gohugo.io/tools/search/
Seems that it is possible. However, I won't be implementing it now due to time insufficiency. Pull requests are welcome.

[2018-05-26 14:50] abioneperhobby opened #14 "can you provide an example of cards?"
hi,
thanks for your template.
i changed contentType to "cards" in config,
and i created a new card with the command

hugo new cards/softwarequalityassurance.md

so now with "hugo server" i obtain the website but there is any cards in the front-end.
what should i put inside cards  .md file?
thanks.

[2018-05-26 15:49] UtkarshVerma commented on #14
The frontmatter for a basic card goes as shown below, which is generated by default if you use the command `hugo new cards/example.md` for card generation:
[code]
Also, I'd just like to point that you may refer to my repos if you're stuck using this theme:
* Cards view - [UtkarshVerma/utkarshverma.github.io](https://github.com/UtkarshVerma/utkarshverma.github.io)
* Posts view - [UtkarshVerma/blog]

[2018-05-28 14:36] UtkarshVerma commented on #14
Closing due to inactivity.

[2018-05-28 14:36] #14 closed

[2018-06-15 10:21] swbsf opened #16 "Mixing cards / posts site"
Hello !
I was wondering if it's possible to have multiple sections some using cards and other using post.
Better is to tell what I'm trying to achieve:

1. Front page (first layer) : card view, linking to second layer.
2. Second layer: card view, linking to third layer.
3. Third layer: which should be your post view (card -> single post item).

Any help greatly appreciated. I could do this running

[2018-06-15 16:42] UtkarshVerma commented on #16
It is possible, but its implementation would take quite a lot of time, which I don't currently have. For the time being, nothing can be done. 😞

[2018-06-18 07:30] swbsf commented on #16
Ok thanks anyway for your fast answer! :)

[2018-06-18 16:21] UtkarshVerma commented on #16
@swbsf Why close the issue, let's leave it opened for others to work on it as well. Also, sorry for not being of much help, I'd hardly call that reply of mine an answer, it is a cool suggestion though. :smile:

[2018-07-01 15:26] yashpal8 opened #17 "reduce size of avatar box and Increase length of Categories"
Hi Utkarsh,
Currently i am using your theme for my website.  :)  . can you help me with below points

1) Reducing the size of avatar box.
2) Increasing length of Categories box.

[2018-07-02 01:12] UtkarshVerma commented on #17
Hi @yashpal8,
To adjust the size of the avatar, you'll have to add some styles for `ui small circular image` in [site.css](/static/css/site.css).
For example:
[code]
For increasing the length of the categories box, modify this segment of [site.css](https://github.com/UtkarshVerma/hugo-dream-plus/blob/master/static/css/site.css#L745).

[2018-07-12 02:37] UtkarshVerma commented on #17
Closing due to inactivity.

[2018-07-12 02:37] #17 closed

[2018-07-12 17:36] yashpal8 commented on #17
thanks Utkarsh for your help...

[2018-07-25 16:50] boydkelly opened #18 "About page flip not working"
Hi,
Thank you for your awesome theme!

I copied the exampleSite with the provided config.toml file and the site loads fine on localhost:1313, but clicking on the About Me button on the top left doesn't do anything.  I had also tried to use my own content and this didn't work either.  But when I go to the demo sites on the web this works.   What could be the problem?   I like the feature and althou

[2018-07-25 21:53] houstonhaynes opened #19 "Page Description pulls full body text"
I just noticed that the description for my page is a bit bloated - in fact it looks like it's pulling body text and TOC instead of the provided description. I looked at head.html in partials and it seems OK (referred to {{- .Site.Params.description -}}) so the issue must be somewhere deeper under the covers.

![image](https://user-images.githubusercontent.com/8174976/43229587-2030f2e6-901a-11e8-86

[2018-08-01 23:36] houstonhaynes opened #20 "Render about as Rmd?"
Is it possible to render the about page using R markdown? I've tried to hack my way through it (changing the shortcode in about.html in partials) and things turned ugly very quickly. I'm suing .Rmd for all post entries and it's working group. Any thoughts converting the about? Thanks!

[2018-08-12 01:08] UtkarshVerma commented on #20
@houstonhaynes Sorry for the late response. Looking from your query, it seems that the RMD files are rendered properly except for the about section, right?

[2018-08-12 01:36] UtkarshVerma commented on #18
@boydkelly Sorry for the late response. Have you tried reading the console messages in the Inspector mode of your web browser? The flip only fails when something to be rendered is missing. I'd suggest checking the console messages to debug this.

[2018-08-12 16:33] houstonhaynes commented on #19
Outstanding - there are a few other nits I found that I'll fix and submit a PR - hopefully that'll save you some hunting.

[2018-08-12 16:36] houstonhaynes commented on #20
Yup. All good except for the about - but honestly, I've been just populating that .md with semantic-UI markup to format that page. I have some experience with that framework in Wordpres so I'm knocking out cobwebs as I re-familiarize. Now I'm considering using similar markup in my Rmd pages too, so this might end up being a fruitful exercise as opposed to a bug. :)

[2018-08-13 11:40] UtkarshVerma commented on #19
Thanks, it would be helpful. :smile:
Considering this issue to be solved, therefore closing it. Reopen if not.

[2018-08-13 11:40] #19 closed

[2018-08-13 12:06] UtkarshVerma commented on #20
@houstonhaynes The about section has to be in MD format, as stated by [this line](https://github.com/UtkarshVerma/hugo-dream-plus/blob/master/layouts/partials/about.html#L3). But I need to clarify some things first about RMD since this is the first time I'm encountering it.
* Does Hugo support RMD by default?
* Is the conversion done by Hugo for RMD any different than MD?
I'd like to see some exam

[2018-08-19 15:31] UtkarshVerma commented on #18
Closing due to infection inactivity.

[2018-08-19 15:31] #18 closed

[2018-08-22 03:50] UtkarshVerma commented on #20
Closing this due to inactivity for now. OP may reopen it if the case arises.

[2018-08-22 03:50] #20 closed

[2018-09-01 23:52] cricketbird opened #23 "Syntax highlighting"
On the Hugo website, this theme is tagged as having syntax highlighting, but even on the demo site, the code is all one color.  Is this mis-tagged, or is syntax highlighting under development?

[2018-09-02 00:45] UtkarshVerma commented on #23
Dream Plus *does support syntax highlighting*. It is for reasons unknown(to me), why the syntax highlighting fails for [exampleSite](/exampleSite)(which is hosted as the demo site). I do know that it is caused by setting the parent directory as the `themesDir` in its [config.toml](https://github.com/UtkarshVerma/hugo-dream-plus/blob/master/exampleSite/config.toml#L6).
So, in short, it works!
![ima

[2018-09-02 04:25] UtkarshVerma commented on #23
I have found some discrepancy in my code which was causing the failure of syntax highlighting on the demo site. Will fix it tonight.

[2018-09-02 14:46] UtkarshVerma commented on #23
@cricketbird Done. Thanks for pointing it out. Shall we consider this issue solved?

[2018-09-04 07:42] UtkarshVerma commented on #23
@cricketbird You sure you used the proper lexer? Refer to this: https://gohugo.io/content-management/syntax-highlighting/

[2018-09-05 20:17] houstonhaynes commented on #20
Sorry - didn't see your Qs. I think it's all good - I'm happy to stay with straight-ahead .md for the about. I'm embedding enough inline SemanticUI code that it's pretty gnarly either way.

I believe that yes Hugo support RMD by default, and I think it uses something different in the render path. I'll post notes if/when I get back to my blog - probably this weekend.

[2018-09-06 08:27] UtkarshVerma commented on #20
@houstonhaynes That'd be great.

[2018-09-07 05:34] UtkarshVerma opened #24 "Reducing repository size"
Dream Plus' repository has become huge in terms of size. Any ideas on how to make it lighter? The content itself isn't as huge. All the size is due to `.git` folder.
The cloning is getting slow due to this.

[2018-09-07 10:30] cricketbird commented on #23
I just did (another) clean install and there is no highlighting in the exampleSite out of the box.  I then downloaded a syntax.css file (per the hugo Syntax Highlight link above) and renamed it highlight.css (per your wiki), and put it in static/css and still no highlighting.

[2018-09-07 13:12] UtkarshVerma commented on #23
It works in my case, and with the netlify builds as well. It should in your case as well. You must be doing something wrong. Which version of Hugo are you using by the way?

[2018-09-09 01:45] UtkarshVerma commented on #23
Assuming you're having issues implementing syntax highlighting. Read this:
 [Wiki/Syntax Highlighting](https://github.com/UtkarshVerma/hugo-dream-plus/wiki/Syntax-Highlighting)

[2018-09-10 07:57] UtkarshVerma commented on #10
:memo: **Reminder**
It is possible. https://forestry.io/blog/search-with-algolia-in-hugo/

[2018-09-11 23:15] UtkarshVerma commented on #23
Closing due to inactivity. OP may reopen if the case arises.

[2018-09-11 23:15] #23 closed

[2018-09-25 07:37] UtkarshVerma commented on #16
Abandoning due to lack of usefulness.

[2018-09-25 07:37] #16 closed

[2018-09-25 14:12] mohammedzee1000 opened #26 "Setting bgList causes background to fail"
**Describe the bug**
Setting bgList = ["image1", "image2", "image3"] not working as expected. Opening javascript console in chrome, shows error. There is no background image.

[code]

Error :

Uncaught syntaxerror: Unexpected token var.

**To Reproduce**
Simply provide any bgList in the config files. I am inclined to think the issue might be with externally hosted images. But i could be wrong as i

[2018-09-25 22:26] FAUSheppy opened #27 "Lazyload images/different resolutions?"
I implemented that on my own fork of your work in case you are interested if not sorry for bothering your again:

Script looks like this:
https://gitlab.com/Sheppy_/atlantishq-blog-dreamplus/blob/master/static/js/lazyload.js

The cards/posts would have to be changed like this:
https://gitlab.com/Sheppy_/atlantishq-blog-dreamplus/blob/master/layouts/post/summary.html

    <article class="blog-card

[2018-09-25 23:27] FAUSheppy commented on #24
**This will not be possible without a git-force push.** The history is cluttered with binary files which git cannot delta/compress correctly, that's why committing binary files is bad.

Now let's see which commits are the worst:

5064 KB 0c4793ce2114d53044a95ddadbe1953c57592d68
2334 KB 52043cd50b817b65e20c96c8affe36018d507bf5
1842 KB b6bdccfdb784f05a68b05c0339e2129b347628b7
1760 KB 46d1057a3786fc7

[2018-09-25 23:35] FAUSheppy commented on #24
**Highly destructive lines of codes following**

    java -jar ../bfg.jar --delete-files "*.png" .
    java -jar ../bfg.jar --delete-files "*.jpg" .
    git reflog expire --expire=now --all && git gc --prune=now --aggressive

BFG: https://github.com/rtyley/bfg-repo-cleaner

but then again it's probably more of a decision if you actually want to forcepush.

[2018-09-30 01:03] UtkarshVerma commented on #26
@mohammedzee1000 Thanks for posting the issue. It was a typo in the code which I have fixed. Pull the recent changes from this repo.

[2018-09-30 01:09] #26 closed

[2018-10-01 05:54] boat46450 commented on #24
#29

[2018-10-01 11:45] FAUSheppy commented on #24
That won't solve the problem, because the largest part is the history not the current size, infact this will worsen the problem, because it will make the history/deltas even bigger.

[2018-10-05 06:42] Apoorva-13 commented on #24
Hi can i claim this issue?

[2018-10-05 08:13] UtkarshVerma commented on #24
Yes, it's open to all!

[2018-10-11 07:03] mohammedzee1000 opened #38 "Missing linkedin social link on website"
**Describe the bug**
Providing ```linkedin = username``` in the social section of config does not cause linkedin link to show up on the website.
See https://github.com/mohammedzee1000/site/blob/master/config.toml#L52

**To Reproduce**
Simply add ```linkedin = username``` in the config file and run the website, and look for linkedin

**Expected behavior**
Providing linkedin username should cause li

[2018-10-12 08:20] jevgen opened #39 "Readme instruction is incomplete"
**Describe the bug**
If one is going through steps of making site and adds my-first-post.md to the project root /contents folder, the following errors are shown in terminal and no site is generated. Something is missing. Perhaps instruction about contents hierarchy.

**To Reproduce**
Do everything as it is in readme. Then add my-first-post.md to the project root /contents folder and run hugo serve

[2018-10-12 14:01] webD97 commented on #39
I can confirm this

[2018-10-12 23:00] UtkarshVerma commented on #38
It seems that the link is working but the icon isn't displaying for LinkedIn. That must arise from a typo related to it in the HTML.

[2018-10-12 23:14] #38 closed

[2018-10-12 23:14] UtkarshVerma commented on #38
@mohammedzee1000 It should work for you now.

[2018-10-12 23:30] UtkarshVerma commented on #39
@jevgen Thanks for pointing this out. I had noticed this sometime back but forgot. I am improving the documentation right now.
If you're curious about the error messages, it's because of some undefined config variables which are required by Hugo while building.

[2018-10-13 00:00] UtkarshVerma commented on #39
@jevgen @webD97 I have added the instructions to the documentation in edd6fd3 and b60efbb. Using the config files provided in [exampleSite](/exampleSite) as a base is advised since it takes care of the variables.

[2018-10-13 00:14] #39 closed

[2018-10-14 07:06] jevgen commented on #39
@UtkarshVerma so basically you may put as readme "copy exampleSite contents to the project root, amend to your liking and run hugo server", right?

[2018-10-14 11:42] vinitjain28 opened #40 "Major"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
State the steps which are to be followed for reproducing the bug you've encountered.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other context about the pro

[2018-10-14 15:41] #40 closed

[2018-10-15 00:47] UtkarshVerma commented on #39
@jevgen Copying the example will work but it isn't necessary. Only the `config.toml` file carries the build instructions for the machine, so simply copying it alone would do the trick. Rest of the work includes creating your content, which if you don't have, then you may refer to the `exampleSite` files as a basis of how your files are supposed to be(frontmatter etc).

[2018-10-20 19:17] MohanSha opened #44 "Added table of contents in readme"

[2018-10-23 12:43] srigurubyo opened #46 "Not able to install the theme"
Hi, tried installing and getting below error.  Can you please help?

[2018-10-23 12:55] srigurubyo commented on #46
My mistake.  It was due to some file corruption issue, hence closing the issue.

Thanks for this beautiful theme.

[2018-10-23 12:55] #46 closed

[2018-10-28 19:53] theycallmemac commented on #46
Can I ask what the file corruption issue was and how you got around it? I've managed to reproduce this myself.

[2018-11-09 09:47] onedrawingperday opened #50 "Your theme's demo is not generated on the Hugo website"
Hello @UtkarshVerma

About a month ago you opened a topic in the Hugo Forum about your theme's demo not working on the Hugo Themes website and I gave you a detailed reply [here](https://discourse.gohugo.io/t/no-demo-site-for-my-theme/14679/3)

Currently I am sending Pull Requests to have themes without a working demo removed from the Hugo website.

Can you please look into providing a valid `confi

[2018-11-10 05:37] #50 closed

[2018-11-10 05:39] UtkarshVerma commented on #50
@onedrawingperday I've added a `config.toml` file and tested it with Hugo v0.51 locally. The demo should work now. Thanks for taking your time notifying me about this. :+1:

[2018-11-10 06:44] onedrawingperday commented on #50
@UtkarshVerma Thank you very much! I confirm the fix.

The demo will work again the next time themes are updated on the Hugo website.

CC / @digitalcraftsman

[2018-11-12 10:46] SasakiYuki opened #51 "It does not work normally paging."
Hi. I can not speak English well, please forgive me.

**Describe the bug**
Occurs when there are many articles.
Paging will not work.
[My Site](https://sasakiyuki.github.io/page/2/) and [Sample](https://dream-plus-posts.netlify.com/page/2/) too.

top menu change social account bar.

How to fix it ?
**Your project**
https://github.com/SasakiYuki/bibo-log
my project is here.

PS: Thanks for this awe

[2018-11-14 01:34] UtkarshVerma commented on #51
@SasakiYuki I don't have any issues with your English. From what I think, you must be facing issues navigating between pages on your site, right? The pagination is working fine since I'm able to access all the pages via the address bar, so the issue here is that **the navigation buttons get hidden**. This, I suppose arises from the theme itself, I'll fix it ASAP, and notify you when it's fixed.
If

[2018-11-14 01:57] SasakiYuki commented on #51
@UtkarshVerma Thanks!!
Yes, I also think that paging is going well.

I like this theme, so I am looking forward to fixing the bug.

[2018-11-14 02:44] #51 closed

[2018-11-14 02:46] UtkarshVerma commented on #51
@SasakiYuki It's done. If something still fails, which is quite unlikely, feel free to reopen this issue or create a new one.

[2018-11-14 04:32] SasakiYuki commented on #51
Thanks @UtkarshVerma .
Fixed it.
I will use this theme forever! !

[2018-11-15 16:25] ShaunaGordon opened #52 "Post tags list is listing all tags"
**Describe the bug**
The tag list on the bottom of individual posts is listing all of the site's tags, instead of just the tags for that post.

**To Reproduce**
1. Create multiple posts with different tags (so that any given post only has some of the tags).
2. Build.
3. View a post.

See also: the demo site

**Expected behavior**
A post should only have its own tags in its footer.

**Screenshots**

[2018-11-16 08:02] UtkarshVerma commented on #52
That wasn't the case, it turns out that I had made a logical error in the code while generalizing the usage of tags in the theme through `tags.html` partial. It's fixed now!

[2018-11-26 20:51] ShaunaGordon commented on #52
@UtkarshVerma are the tags on the author sidebar intended to reflect only the ones for the post when on a post, or should they display all of the tags like they do on the home page?

As it happened, I toyed with `if .IsPage`, too, to avoid multiple tag templates, but it results in the behavior now seen. I suspect another trigger is needed if the author panel should list everything (some sort of `i

[2018-11-30 15:42] UtkarshVerma commented on #52
@ShaunaGordon I had also stumbled upon this thought while I was fixing the bug, that is, *should I display all the tags on the sidebar or not?* When I did make it so that it displayed all the tags, it took too much space and looked bad, so I had to limit the sidebar tags to those of posts only. I still don't know which is better, all tags or only the post ones.
What thoughts do you have on this ma

[2018-11-30 16:49] UtkarshVerma commented on #52
@ShaunaGordon I have pushed changes regarding the fix on a separate branch.

[2018-11-30 16:52] UtkarshVerma commented on #52
The fix has been pushed upstream.

[2018-12-01 15:08] #52 closed

[2018-12-04 14:39] ShaunaGordon commented on #52
It seems a bit odd, I think, to have just the post's tags on the sidebar, especially if the expectation is that all of the tags are present (which is set on the home page, where all of the tags are present in the sidebar). However, I do agree that it can get unruly on a blog with a lot of different tags.

Perhaps a slightly different approach would be useful? Maybe the top X tags (probably ~10, bu

[2018-12-05 23:33] UtkarshVerma commented on #52
@ShaunaGordon Displaying only the top 10 tags seems doable, I'll try to implement this feature later when I have the time. Thanks for the suggestion.

[2018-12-19 21:01] ShaunaGordon opened #54 "Add Support For "Series" (/Custom?) Taxonomy"
**Is your feature request related to a problem? Please describe.**
The theme currently only supports the default taxonomies, which probably works for most people, but it'd be nice if at least a "series" custom taxonomy could be supported.

**Describe the solution you'd like**
I know of two ways this could work off the top of my head:

1. (Easy, but rigid) "Series" is just plain added as a taxonomy

[2018-12-20 14:57] UtkarshVerma commented on #54
@ShaunaGordon As much as I'd like to pick up this issue, I can't, due to huge time constraints. That's why I'm preferring to stay away from my PC in the meantime. I'll happily pick it up after a couple of weeks when I'll be free so as to do the job nicely(adding this will surely need work). Hoping you don't mind.

[2019-01-10 17:08] UtkarshVerma commented on #54
@ShaunaGordon I have generalized taxonomy support in the theme. Now you should be able to use custom taxonomies properly. Also, regarding your suggestions, for making custom taxonomies appear in the sidebar and nav bar, seem impractical to me for the following reasons:
- The nav bar doesn't have lots of space, therefore, adding more items would make it feel congested. This is a huge concern for mo

[2019-01-11 08:35] UtkarshVerma commented on #52
@ShaunaGordon The feature has now been implemented! Now only top 8 tags are displayed by default which can be modified to the user's choice through `tagLimit` variable under `[params.tags]`.

[2019-01-15 06:04] #54 closed

[2019-02-05 16:23] zxkane opened #56 "url '/404/' generated in sitemap.xml"
**Describe the bug**
A clear and concise description of what the bug is.

The [404](https://dream-plus-posts.netlify.com/404/) page is generated in [sitemap.xml](https://dream-plus-posts.netlify.com/sitemap.xml/).

The webmaster tool of google will report the link of '/404/' problematic as **not found**.

**To Reproduce**
State the steps which are to be followed for reproducing the bug you've enco

[2019-02-06 04:31] UtkarshVerma commented on #56
@zxkane Dream Plus uses a custom 404 page, therefore it has to be indexed in the sitemap.

[2019-02-06 04:56] jhabdas opened #57 "MIT license condition unmet"
Hi. I was looking over your `LICENSE` file and noticed you haven't included `Copyright (c) 2017 Yue Yang` which is a requirement of the license. You should probably add that as there are now 58 forks of your work which may be infringing the rights of the original creator.

[2019-02-06 07:10] UtkarshVerma commented on #57
@jhabdas I'm not well versed with licensing as such. Shouldn't his name in the README be enough? After all I'm not using his theme as it was. I'm fact there are multitudes of distinctions between our themes currently. Therefore shouldn't it be correct for me to put my name?

[2019-02-06 13:33] jhabdas commented on #57
You simply need to update your LICENSE file with his name (and year, if present) in the copyright line.

[2019-02-06 13:36] jhabdas commented on #57
You simply need to update your LICENSE file with their name (and year, if present) in the copyright line. Here's [an example](https://github.com/yihui/hugo-lithium/blob/master/LICENSE.md). I'm sorry GitHub doesn't do a better job of this. If you have questions about how to use software licenses I recommend opensource.stackexchange.com. You should probably [get to know the MIT license](https://writ

[2019-02-06 13:36] #57 closed

[2019-02-06 13:40] jhabdas commented on #57
You should probably [get to know the MIT license](https://writing.kemitchell.com/2016/09/21/MIT-License-Line-by-Line.html#notice-condition) a little better if you plan on using it in your work.

Even if you based your work off theirs it doesn't make yours unique (which is probably what prompted you to add their name to your `README`). You simply need to update your LICENSE file with their name (an

[2019-02-06 13:41] jhabdas commented on #57
And I can see you've already discovered the last link I mentioned.

[2019-02-07 07:16] UtkarshVerma commented on #57
@jhabdas Thanks. I'll be including it shortly when I'll be back on my PC today.

[2019-02-07 07:18] UtkarshVerma commented on #56
@zxkane I've decided to prevent the 404 page from being indexed.

[2019-02-07 09:54] jhabdas commented on #57
Thanks for your diligence and FWIW software licenses with restrictions and conditions such as (well, almost all of them—except for one) are my least favorite part of open source.

[2019-02-07 10:12] UtkarshVerma commented on #57
You've got it backwards. I should be the one thanking you for pointing out the license mistake or else I might have faced hurdles in the near future.
Btw, licenses are my least favourite as well.

[2019-02-07 10:30] UtkarshVerma commented on #56
It was being indexed because I was keeping a `404.md` file in the `content` folder. Now I've fixed this by placing the `404.md` file outside the content folder hence it doesn't get built by Hugo and isn't indexed!

[2019-02-07 10:33] #56 closed

[2019-02-07 12:04] zxkane commented on #56
Thanks for fixing it quickly.

[2019-02-07 13:55] UtkarshVerma commented on #56
No problem. Fixing every issue just improves my theme, so why shouldn't I? By the way, I just found a better way to fix this without changing the file location of `404.md`. Will be implemented within the following hour.

[2019-02-08 06:59] UtkarshVerma commented on #24
@FAUSheppy Completely removing binary files from history seems to be the plausible course of action here. Though it will break earlier commits, yet I think it's necessary since cloning this repo is becoming a drag day-by-day.

[2019-02-08 10:31] UtkarshVerma commented on #24
This issue has been solved with the final clone size resulting in 8.34MB.

[2019-02-08 10:31] #24 closed

[2019-02-20 12:57] SasakiYuki opened #58 "Hugo building error "execute of template failed""
**Describe the bug**
Hi, I will report it because I could not solve it.(And Im not Native English Speaker, Sorry.)

I Commanded `hugo`, but cant build Site.

error log is here.

[code]

Previously I could deploy it without probleml. (on 27 Dec 2018)

I deployed it after a long absence and failed.
First of all it was said that the version of hugo is old, so I updated dockerImage.

After that, the a

[2019-02-20 15:01] UtkarshVerma commented on #58
@SasakiYuki Dream Plus config variables have been modified, that is the layout of `config.toml` file has been updated for organizing variables in a better way.
**Simply updating your config.toml file will fix the above error**. You may refer to the [example config](/exampleSite/posts.toml) as a reference.

[2019-02-21 06:27] blue-bird1 opened #59 "add Open Graph protocol"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Telegram and fackbook can't display my blog preview because Open Graph protocol is not supported.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
http://ogp.me/. Just add a few meta tags

*

[2019-02-21 07:51] SasakiYuki commented on #58
thank you for answering!

Is the correct link [here](https://github.com/UtkarshVerma/hugo-dream-plus/blob/master/exampleSite/config.toml) ?

I tried trying it, but did it match?
https://github.com/SasakiYuki/bibo-log/commit/0fd67d740e4e9591f9f45e0458e400225562f509

[2019-02-21 12:50] UtkarshVerma commented on #58
@SasakiYuki Sorry I didn't notice the broken link. I have now fixed the link in my comment. Basically you have to refer to the posts.toml file in the exampleSite folder.

[2019-02-21 12:56] UtkarshVerma commented on #59
Thanks for the feature request. As of now I don't have the time, but I will look into this when I'll be free, after a couple of months or so.

[2019-02-21 16:09] SasakiYuki commented on #58
@UtkarshVerma ありがとう！！！ TY!!!
It is solved. Thank you always for a nice update. I will continue to use it!

[2019-02-22 00:53] #58 closed

[2019-05-20 20:07] zaesarius opened #64 "After installing and re-installing. Just can't get it work :("
First, congrats for such an amazing theme!

**Describe the bug**

It doesn't show on the localhost. Just blank. Have installed several times. Have also followed the video tutorials and the documentation of instaling Hugo what it seems fine.

Have wrote on the config.file the theme = "hugo-dream-plus"
Have changed the baseUrl in diferent ways. But it doesn't look in the tutorials as relevant so I l

[2019-05-29 03:34] UtkarshVerma commented on #64
@zaesarius Show me how your config file's set up. Does it appear similar to the one shown in the exampleSite? Also, are you able to run the example site?

[2019-05-29 14:09] UtkarshVerma commented on #59
Self note: **https://gohugo.io/templates/internal/#configure-open-graph**

[2019-05-31 12:17] garrettseepersad opened #65 "How to set rssButton to False"
rssButton is defined as always true, how do I set it to false?

`	{{ partial "nav.html" (dict "context" . "rssButton" true "contentType" $contentType) }}`

I am new to the Hugo ecosystem. Thanks for helping helping such a novice question :)

[2019-06-01 18:56] FAUSheppy commented on #59
It's also very easy to implement ogp manually, I looked at the hugo module and found it to be clumsy and adding a lot of boilerplate.

    {{ if isset .Params "cover" }}
      <meta property="og:title" content="{{- .Params.title | plainify -}}" />
      <meta property="og:image" content="{{- .Site.Params.baseURL -}}{{- .Params.cover -}}" />
    {{ else }}
        <meta property="og:title" content=

[2019-06-02 06:59] coreychen71 opened #66 "Social Link missing facebook"
**Describe the bug**
I setting Social Link an facebook in Config.toml, but I can't see icon in web site.

**To Reproduce**
Simply add facebook = username in the config file and run the website, and look for facebook

**Expected behavior**
Providing facebook username should cause link to facebook account to appear on the website

**Hugo version**
Hugo Static Site Generator v0.55.5/extended darwin/a

[2019-06-03 17:17] zaesarius opened #67 "It doesn't show social inks"
Social aren't displaying properly I think. Or maybe is my fault but can't see why...

![paraHugo7](https://user-images.githubusercontent.com/29057173/58820824-f1d17180-8633-11e9-9882-175ad121427b.png)

![paraHugo6](https://user-images.githubusercontent.com/29057173/58820815-e8480980-8633-11e9-8cbb-7c98b455f24e.png)

Get also a kind of sintactic error or maybe is not calling properly the variables

[2019-06-05 02:25] UtkarshVerma commented on #67
@zaesarius The social icons only appear in the "About Me" section of the site. Check out the demo site here:
https://dream-plus-cards.netlify.com/
https://dream-plus-posts.netlify.com/

[2019-06-05 02:31] UtkarshVerma commented on #66
@coreychen71 You are correct about that. I have accidentally missed specifying the social parameters for Facebook in the [social partial](https://github.com/UtkarshVerma/hugo-dream-plus/blob/master/layouts/partials/social.html#L12). I will keep this in mind.
By the way, I'm currently revamping the site which is preventing me from making any changes to the HEAD of this repo, since the local repo is

[2019-06-05 02:36] UtkarshVerma commented on #65
Currently, Dream Plus doesn't have such a feature which allows one to disable the RSS button. If you want to disable it, just replace the boolean value next to `rssButton` with `false` wherever the `nav.html` partial has been called.
That's the quick local fix. Do you want this to be implemented as a feature in the theme?

[2019-06-05 02:40] UtkarshVerma commented on #66
Here's the local fix which you may use as a workaround for now.
In the `social.html` partial, add a new slice element for "facebook" in the `$icons` variable, and similarly, add a new slice element "https://www.facebook.com/" to the `$links` variable and "Facebook" in `$sites`.

[2019-06-05 02:45] UtkarshVerma commented on #64
Closing due to inactivity

[2019-06-05 02:45] #64 closed

[2019-06-07 14:04] zaesarius commented on #67
Ok,

thank you!

[2019-06-07 14:04] #67 closed

[2019-06-07 14:07] venturaEffect opened #68 "How to stop randomly order the cards on Home"
Each time that the homepage is loaded the cards order is diferent. How can I define it in one order and that it stops to change?

Thank you
Whish you a nice weekend :)

[2019-06-08 03:20] UtkarshVerma commented on #68
Dream Plus orders the cards in the order of their dates of publishing. If you want to explicitly order the cards though, use `weight` parameter in your post's frontmatter. Refer to this link for examples: https://github.com/UtkarshVerma/utkarshverma.github.io/tree/source/content/cards

[2019-06-08 08:19] garrettseepersad commented on #65
I would be able to do it manually, but definitely a worthwhile feature to consider implementing.

[2019-06-09 09:15] UtkarshVerma commented on #65
Ok, I will implement this feature in the later versions then.

[2019-06-09 09:15] #65 closed

[2019-06-12 13:20] coreychen71 commented on #66
In the way you provided it, Facebook has taken care of it, and I've added Instagram to it.

thanks.

[2019-06-12 13:20] #66 closed

[2019-08-02 14:48] wxw600 opened #69 "视图如何激活"

[2019-08-03 01:23] wxw600 opened #70 "post"

[2019-08-04 01:03] #70 closed

[2019-08-04 01:03] #69 closed

[2019-08-08 06:00] #68 closed

[2019-09-13 07:47] xiaoyagao opened #71 "Error: "/home/itmoox/mysite/themes/dream-plus/layouts/partials/head.html:18:1": parse failed: template: partials/head.html:18: function "hugo" not defined"
**Describe the bug**
A clear and concise description of what the bug is.
Error: "/home/itmoox/mysite/themes/dream-plus/layouts/partials/head.html:18:1": parse failed: template: partials/head.html:18: function "hugo" not defined

**To Reproduce**
State the steps which are to be followed for reproducing the bug you've encountered.

**Expected behavior**
A clear and concise description of what you ex

[2019-10-07 02:13] Akin2Silver opened #74 "Increase Support for Google Analytics"
**Is your feature request related to a problem? Please describe.**
I have an issue where the google analytics code isn't added to the default landing page (/index.html) once the site is built. However the code is added to my "posts pages"

**Describe the solution you'd like**
Please include the Google Analytics code into the default landing page so that more accurate analytics can be collected.

*

[2019-11-06 05:19] zxkane commented on #74
Not sure it's an actual issue. I do see GA code in index page of my site.

[2019-11-08 08:43] Akin2Silver opened #76 "Home page shows "posts" folder not posts."
**Describe the bug**
When running `hugo server` locally and testing my site I am not shown my posts only a single posts that when clicked on shows an index of my other posts.

**To Reproduce**
I was able to reproduce by running `hugo server` in the example site directory.

**Expected behavior**
I expected different content items each showing one of my posts.

**Screenshots**
If applicable, add scr

[2019-11-14 16:09] robotman3000 commented on #76
Hi, Have you looked at PR #75? I manually applied the changes in the PR to my site and it fixed the issue for me.

[2019-11-16 05:08] Akin2Silver commented on #76
Looks like that's it! thanks

[2019-12-31 11:33] Akin2Silver opened #78 "Issues with newer versions of hugo"
**Describe the bug**
I am having issues with newer versions of Hugo as they look to be breaking the site.
My 404 and about me both fail to render correctly and have default content or missing some parts.

**To Reproduce**
edit about and 404 .md files under `content/posts` and run hugo build. I use `hugo --cleanDestinationDir --forceSyncStatic --gc --minify --templateMetrics --templateMetricsHints

[2020-05-21 02:02] UtkarshVerma commented on #78
Well, I'm dropping support for this theme due to time constraints, therefore I'm afraid you'll have to switch to other themes.

[2020-05-21 02:03] UtkarshVerma commented on #76
Closing this as PR is now merged.

[2020-05-21 02:03] #76 closed

[2020-05-21 02:09] UtkarshVerma opened #79 "Dropping support for this theme, PRs still welcomed!"
You must have noticed that this theme has rarely been updated within the past year, and that's because of my time constraints. After a year, I've finally decided to officially drop support for this theme, however, I'm keeping this repo alive for PRs.
You can also fork this theme and modify it all you want as long as it satisfies the [license](https://github.com/UtkarshVerma/hugo-dream-plus/blob/ma

[2020-06-29 16:23] howisjames commented on #79
I understand you're dropping support but I'd like to express my appreciation for this theme. I use it for my personal blog:
howisjt.com

[2020-06-29 16:43] howisjames opened #80 "No pagination arrows when viewing blog posts by tag or category"
**Describe the bug**
There exist no "next" and "back" arrows on the header ribbon when viewing site content (posts) by category or tag.

**To Reproduce**
View example at https://howisjt.com/categories/travel/   "paginate" variable set to 4.

**Expected behavior**
There are more than 4 posts matching this category so it is desirable for the "next" and "back" arrows to appear in the header.

**Scree

[2020-06-29 16:43] UtkarshVerma commented on #79
@howisjames I'm glad you liked the theme. Recently, I've been working on a new theme from scratch, which I've optimized for performance and search engines and lots more. I'm currently deciding whether to open-source it or not considering the multitude of weeks I've spent working on it.
I might release it soon so stay tuned.
Here's how the new theme looks if you're curious.
https://bitbanged.com

[2022-06-05 11:34] #27 closed